.deneme{
	height:300px;
	width:500px;
	background-color:black;
}
.deneme1{
	height:100px;
	widht:250px;
	background-color:red;
}
.deneme2{
	height:100px;
	widht:250px;
	background-color:yellow;
}
.deneme3{
	height:100px;
	widht:250px;
	background-color:green;
}
.deneme4{
	height:100px;
	widht:250px;
	background-color:blue;
}
.deneme5{
	height:100px;
	widht:250px;
	background-color:gray;
}