*{margin:0px;padding:0px;}
.geneldiv{
	width:1920px;
	margin:0
	auto;
	height:1080px;
	background-color:gray;
}
.ustdiv{
	height:169px;
	background-color:black;
}
.logo{
	float:left;
}
.ustmenu{
	float:right;
	background-color:white;
}